.App {
  text-align: center;
  height: 100vh;
}

.point {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  height: 18px;
  width: 18px;
}

.point:hover {
  cursor: pointer;
}
